<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h2>
      Buttons
    </h2>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h4>
      Standard
    </h4>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/main' data=components.flat}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/main' data=components.flat_primary}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/main' data=components.flat_accent}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/main' data=components.button}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/main' data=components.primary}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/main' data=components.accent}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/main' data=components.disabled}}
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h4>
      Icon
    </h4>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/icon' data=components.icon}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/icon' data=components.icon_primary}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/icon' data=components.icon_accent}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/icon' data=components.icon_disabled}}
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h4>
      Fab
    </h4>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/fab' data=components.fab}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/fab' data=components.fab_primary}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/fab' data=components.fab_accent}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/button/fab' data=components.fab_disabled}}
  </div>
</div>
