<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h2>
      Miscellaneous
    </h2>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--8-col'>
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--12-col'>
        <h4>
          Sliders
        </h4>
      </div>
    </div>
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--4-col'>
        {{view 'components/general/slider' data=components.slider}}
      </div>
      <div class='mdl-cell mdl-cell--4-col'>
        {{view 'components/general/slider' data=components.pin}}
      </div>
      <div class='mdl-cell mdl-cell--4-col'>
        {{view 'components/general/slider' data=components.markers}}
      </div>
    </div>
  </div>
  <div class='mdl-cell mdl-cell--4-col'>
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--12-col'>
        <h4>
          Spinners
        </h4>
      </div>
    </div>
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--4-col'>
        {{view 'components/general/spinner' data=components.spinner}}
      </div>
      <div class='mdl-cell mdl-cell--4-col'>
        {{view 'components/general/spinner' data=components.other_spinner}}
      </div>
    </div>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--8-col'>
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--12-col'>
        <h4>
          Toast
        </h4>
      </div>
    </div>
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--1-col'>
        {{view 'components/button/main' data=components.toast}}
      </div>
      <div class='mdl-cell mdl-cell--1-col'>
        {{view 'components/button/main' data=components.long_toast}}
      </div>
      <div class='mdl-cell mdl-cell--1-col'>
        {{view 'components/button/main' data=components.success_toast}}
      </div>
      <div class='mdl-cell mdl-cell--1-col'>
        {{view 'components/button/main' data=components.error_toast}}
      </div>
      <div class='mdl-cell mdl-cell--2-col'>
        {{view 'components/button/main' data=components.persistent_toast}}
      </div>
      <div class='mdl-cell mdl-cell--1-col'>
        {{view 'components/button/main' data=components.full_toast}}
      </div>
    </div>
  </div>
