<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h2>
      Buttons
    </h2>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--2-col'>
    <h4>
      Item w/ Text
    </h4>
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--12-col'>
        {{view 'components/general/item' data=components.item_1}}
        {{view 'components/general/item' data=components.item_2}}
        {{view 'components/general/item' data=components.item_3}}
      </div>
    </div>
  </div>
  <div class='mdl-cell mdl-cell--3-col'>
    <h4>
      Item w/ View
    </h4>
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--12-col'>
        {{view 'components/general/item' data=components.item_view_1}}
        {{view 'components/general/item' data=components.item_view_2}}
        {{view 'components/general/item' data=components.item_view_3}}
      </div>
    </div>
  </div>
  <div class='mdl-cell mdl-cell--3-col'>
    <h4>
      Item w/ Paper item body
    </h4>
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--12-col'>
        {{view 'components/general/item' data=components.item_view_body_1}}
        {{view 'components/general/item' data=components.item_view_body_2}}
        {{view 'components/general/item' data=components.item_view_body_3}}
      </div>
    </div>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--6-col'>
    <h4>
      Menu
    </h4>
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--6-col'>
        {{view 'components/general/menu' data=components.menu}}
      </div>
      <div class='mdl-cell mdl-cell--6-col'>
        {{view 'components/general/menu' data=components.menu_multi}}
      </div>
    </div>
  </div>
  <div class='mdl-cell mdl-cell--6-col'>
    <h4>
      Seletion
    </h4>
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--6-col'>
        {{view 'components/general/selection' data=components.selection}}
      </div>
      <div class='mdl-cell mdl-cell--6-col'>
      </div>
    </div>
  </div>
</div>
