<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h2>
      Toggles
    </h2>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/toggles/checkbox' data=components.checkbox}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/toggles/checkbox' data=components.checkbox_disabled}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/toggles/radio' data=components.radio}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/toggles/radio' data=components.radio_disabled}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/toggles/switch' data=components.switch}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/toggles/switch' data=components.switch_disabled}}
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col'>
    <h4>
      Radio Group
    </h4>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/toggles/radio' data=components.radio_first}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/toggles/radio' data=components.radio_second}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/toggles/radio' data=components.radio_third}}
  </div>
  <div class='mdl-cell mdl-cell--1-col'>
    {{view 'components/toggles/radio' data=components.radio_fourth}}
  </div>
</div>
